* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    display: block;           
    padding: 12px;             
    margin: 10px 0;           
    background-color: #888888; 
    color: white;              
    text-decoration: none;    
    border-radius: 6px;        
    text-align: center;        
    
}

.btn:hover {
    background: rgba(126, 125, 125, 0.25); 
    transform: translateY(-5px);         
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
}


.name {
    font-size: 25px;
    margin-bottom: auto;
}




